name: Generate Client SDKs from OpenAPI

on:
  release:
    types: [published]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                egress-policy: audit

            - name: Checkout repository
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

            - name: Invoke generator workflow Permify/permify-java repo
              uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc # v1.2.4
              with:
                workflow: generator.yml
                repo: Permify/permify-java
                ref: master
                token: "${{ secrets.SDK_GH_TOKEN }}"
        
            - name: Invoke generator workflow Permify/permify-python repo
              uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc # v1.2.4
              with:
                workflow: generator.yml
                repo: Permify/permify-python
                ref: main
                token: "${{ secrets.SDK_GH_TOKEN }}"
