name: Generate Client SDKs from OpenAPI

on:
  release:
    types: [published]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            GITHUB_TOKEN: ${{ secrets.SDK_GH_TOKEN }}
            ORG_NAME: Permify
            SWAGGER_PATH: docs/api-reference/apidocs.swagger.json

        strategy:
            matrix:
                language: [python, javascript]

        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@0d381219ddf674d61a7572ddd19d7941e271515c # v2.9.0
              with:
                egress-policy: audit

            - name: Checkout repository
              uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

            - name: Generate Python Client
              uses: openapi-generators/openapitools-generator-action@3e8794a448324479d75053329c76a48bf6d188b5 # v1
              with:
                  generator: ${{ matrix.language }}
                  openapi-file: ${SWAGGER_PATH}
                  command-args: -o permify-client --git-user-id ${ORG_NAME} --git-repo-id permify-${{ matrix.language }} --package-name permify --global-property apis,models

            - name: Push SDK to GitHub
              run: |
                  git config --global user.name 'GitHub Actions Bot'
                  git config --global user.email '<>'
                  git clone https://${GITHUB_TOKEN}@github.com/${ORG_NAME}/permify-${{ matrix.language }}.git temp
                  cp -r permify-client/* temp/
                  cd temp
                  git add .
                  git diff-index --quiet HEAD || git commit -m "Update ${{ matrix.language }} SDK from OpenAPI changes"
                  git push https://${GITHUB_TOKEN}@github.com/${ORG_NAME}/permify-${{ matrix.language }}.git main --force
                  rm -rf permify-client
